<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe' rel='stylesheet')
        link(rel='stylesheet', href='/style/style.css')

        title Trivia
    body
  
    .jumbotron.jumbotron-fluid FLASH CARDS
  
    .container
    h1.display-4 

    .card(style='width: 18rem;')
    //-  img.card-img-top(src='...' alt='')
    .card-body
    h5.card-title Card title
    p.card-text
      | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    a.btn.btn-primary(href='#') Go somewhere




        h1 fun facts
        form(action='/flashcardtrivia' method='POST')
            input(type='text' placeholder='name' name='name')
            input(type='text' placeholder='flashcardtrivia' name='')
            button#buttontype='submit' 

        //- ul(class="flashcardtrivia")
           
        //-         li(class="flashcardtrivia")
        //-         span= flashcardtrivia.name + " : "
        //-         span= flashcardtrivia.flashcardtrivia

        


            



            
        


